@page "/"
@rendermode InteractiveServer

<PageTitle>Home</PageTitle>

<div class="home-page" @onmouseup="releaseResizeBar" @onmousemove="resizePage">
    <ul class="card-page" style="width: @cardPageWidth;">
        @foreach (string card in cardItems) {
            <li class="card-item">@card</li>
        }
    </ul>
    <div class="vertical-line" @onmousedown="selectResizeBar"></div>
    <div class="detail-page">detail</div>
</div>